extends ../layouts/common

block content
	h1 Create user

	div(class="container")
		label Name
		form(action="/users/create", method="POST", class="d-flex")
			input(name="name", type="text", class="form-control")
			button(class="btn btn-primary ml-2") Create	